.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #120323;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    color: #97bf04;
}

h2 {
    color: #120323;
}

aside {
    background-color: #97bf04;
    width: 100%;
}

footer {
    background-color: #d9043d;
    color: white;
}

.header-container img {
    max-width: 100%;
}

figure img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border: 5px solid red;
}

body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}

@media screen and (max-width: 768px) {
   .header-container {
    flex-direction: column;
    text-align: center;
   }

   #container {
    flex-direction: column;
    align-items: center;
   }

   figure {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   figure img {
    width: 100%;
    height: auto;
   }
}








    
