* {
    box-sizing: border-box;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #120323;
}

#container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    color: #97bf04;
    padding: 20px;
}

figure p, h2 {
    padding: 20px;
}

h2 {
    color: #120323;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #97bf04;
    width: 100%;
    margin-top: 20px;
}

aside h3, p {
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9043d;
    color: white;
    padding: 30px;
    margin: 20px 0;
}

.header-container img {
    max-width: 100%;
}

figure img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border: 5px solid red;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}

@media screen and (max-width: 768px) {
   .header-container {
    flex-direction: column;
    text-align: center;
   }

   #container {
    flex-direction: column;
    align-items: center;
   }

   figure {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   figure img {
    width: 100%;
    height: auto;
   }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
   .header-container {
    flex-direction: row;
    justify-content: center;
   }

   figure {
    display: flex;
    flex-direction: row;
   }

   figure img {
    max-width: 300px;
    max-height: 300px;
   }

   aside {
    max-width: 100%;
   }
}

@media screen and (min-width: 1001px) {
    .header-container {
        flex-direction: row;
        justify-content: center;
       }
    
    #container {
        flex-direction: row;
    }

    main {
        flex: 2;
    }

    aside {
        flex: 1;
    
    }

    figure {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}




    
